<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="PROJECT_NAME" value="leetcode-solved"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>
            <!--<pattern>%d %p (%file:%line\)- %m%n</pattern>-->
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <logger name="io.netty" level="INFO"/>
    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>